@model List<Article>

<div class="widget">
<h2 class="widget-title">Son Yazılarımız</h2>
<div class="blog-list-widget">
    <div class="list-group">
        @foreach (var item in Model)
        {
            <a href="marketing-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                    <img src="@item.MainImageUrl" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">@item.Title</h5>
                    <small>@item.CreatedDate.ToString("dd.MM.yyyy")</small>
                </div>
            </a>
        }
    </div>
</div>
</div>